<div class="shadow">
    <form method="post" class="form">

        <div class="form__inputs">
            <input type="text" class="input" placeholder="Виробник" name="carManufacturer">
            <input type="text" class="input" placeholder="Модель" name="carModel">
            <input type="number" class="input" placeholder="Рік" name="carYear">
            <input type="number" class="input" placeholder="Ціна" name="carPrice">
        </div>

        <div class="form__buttons">
            <input type="submit" class="but" value="Готово" id="submit">
            <a href="/sell" class="but">Назад</a>
        </div>

    </form>
</div>
<div class="wrapper">

    <header class="header">
        <div class="header__container">
            <div class="header__main">
                <div class="header__image"></div>
                <nav class="header__menu">
                    <a href="/" class="item">Головна</a>
                    <a href="/buy" class="item">Купити</a>
                    <a href="/sell" class="item">Продати</a>
                    <a href="/info" class="item">Контакти</a>
                </nav>
                <div class="header__img">
                    <img src="/img/user.png" alt="user">
                </div>
            </div>
        </div>
    </header>

    <div class="content">
        <div class="content__container">

            <a href="/sell/form" class="button">Продати машину</a>
            <div class="plate">

            </div>



        </div>
    </div>

    <footer class="footer">
        <div class="footer__container">
            <div class="footer__main">
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, voluptatibus. Et natus soluta
                    aliquam. Neque quas ut voluptatibus repellendus cupiditate labore et non, vel impedit magni
                    tempore, minus, laborum quo.</h2>
            </div>
        </div>
    </footer>

</div>