* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shadow .form {
  width: 50%;
  height: 60%;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #000;
  -webkit-box-shadow: 0px 0px 30px black;
          box-shadow: 0px 0px 30px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.shadow .form .green {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 40px;
  color: lime;
}
.shadow .form .form__inputs {
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid blue;
}
.shadow .form .form__inputs .input {
  border: 2px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  height: 10%;
  padding: 15px;
  border-radius: 10px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
}
.shadow .form .form__buttons {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid green;
  justify-self: flex-end;
}
.shadow .form .form__buttons .but {
  background-color: #f33535;
  text-align: center;
  width: 100%;
  height: auto;
  border: 2px solid #000;
  border-radius: 15px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  padding: 10px;
  color: rgb(235, 231, 231);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  margin: 20px;
}
.shadow .form .form__buttons .but:hover {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  scale: 1.2;
  background-color: #e70e0e;
}
.shadow .form .form__buttons .but:active {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  scale: 0.9;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(img/8a428cac77afe9d70177b997f5e516a1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  width: 100%;
  height: 95px;
  background: #29252c;
  border-bottom: 4px solid #e70e0e;
  position: fixed;
  z-index: 100;
}
.header .header__container {
  max-width: 1100px;
  height: 95px;
  margin: 0 auto;
}
.header .header__container .header__main {
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__container .header__main .header__image {
  width: 300px;
  height: 89px;
  background: url(img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.header .header__container .header__main .header__menu {
  width: 50%;
  height: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__container .header__main .header__menu .item {
  color: rgb(211, 205, 205);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin: 20px;
  -webkit-filter: drop-shadow(0px 0px 5px black);
          filter: drop-shadow(0px 0px 5px black);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.header .header__container .header__main .header__menu .item:hover {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  color: #f33535;
  scale: 1.3;
}
.header .header__container .header__main .header__img {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__container .header__main .header__img img {
  max-width: 100%;
  max-height: 100%;
}

.content {
  margin-top: 200px;
  margin-bottom: 100px;
  width: 100%;
  height: auto;
}
.content .content__container {
  max-width: 1100px;
  height: auto;
  margin: 0 auto;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content .content__container .button {
  background-color: #f33535;
  text-align: center;
  width: 15%;
  height: auto;
  border: 2px solid #000;
  border-radius: 15px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 30px;
  padding: 10px;
  margin: 0 auto;
  position: absolute;
  margin-top: 20px;
  margin-right: 1050px;
  color: rgb(235, 231, 231);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.content .content__container .button:hover {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  scale: 1.2;
  background-color: #e70e0e;
}
.content .content__container .button:active {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  scale: 0.9;
}
.content .content__container .plate {
  width: 130%;
  height: 1080px;
  background-color: rgb(235, 231, 231);
  border: 5px solid #e70e0e;
  border-radius: 15px;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.content .content__container .plate > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.content .content__container .plate > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.content .content__container .plate > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.content .content__container .plate > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.content .content__container .plate > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.content .content__container .plate > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.content .content__container .plate > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.content .content__container .plate > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
.content .content__container .plate > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.content .content__container .plate > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.content .content__container .plate > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.content .content__container .plate > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}
.content .content__container .plate > *:nth-child(13) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
.content .content__container .plate > *:nth-child(14) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
.content .content__container .plate > *:nth-child(15) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}
.content .content__container .plate > *:nth-child(16) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}
.content .content__container .plate #testLot {
  margin-top: 100px;
}
.content .content__container .plate .lot {
  width: 98%;
  height: 98%;
  border: 3px solid rgb(243, 53, 53);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 10px;
  background-color: rgba(42, 42, 42, 0.7);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  text-align: center;
}
.content .content__container .plate .lot img {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 10px;
  -o-object-fit: fill;
     object-fit: fill;
}
.content .content__container .plate .lot:hover {
  scale: 1.1;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  background-color: rgba(243, 53, 53, 0.8);
  border: 3px solid black;
}
.content .content__container .plate .lot p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 25px;
}
.content .content__container .plate .lot .car_name {
  margin-bottom: 10px;
}
.content .content__container .plate .lot .price_buy p {
  display: inline-block;
}
.content .content__container .plate .lot .price_buy button {
  background-color: #f33535;
  padding: 5px;
  border-radius: 5px;
  color: rgb(235, 231, 231);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  border: 2px solid #000;
  margin-left: 10px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.content .content__container .plate .lot .price_buy button:hover {
  scale: 1.2;
  background-color: #e70e0e;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.content .content__container .plate .lot .price_buy button:active {
  scale: 0.9;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}
.content .content__container .plate .lot1 {
  display: none;
}
.content .content__container .plate .lot2 {
  display: none;
}
.content .content__container .plate .lot3 {
  display: none;
}
.content .content__container .plate .lot4 {
  display: none;
}
.content .content__container .slider__text {
  margin-top: -20px;
  margin-bottom: 50px;
  font-size: 60px;
  color: #29252c;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-filter: drop-shadow(0px 0px 10px black);
          filter: drop-shadow(0px 0px 10px black);
  text-align: center;
  border: 5px solid #e70e0e;
  padding: 10px;
  background-color: rgb(211, 205, 205);
  border-radius: 15px;
  font-weight: 600;
}
.content .content__container .content__slider {
  width: 80%;
  height: 480px;
  border: 5px solid #e70e0e;
  border-radius: 25px;
  background-color: #433c48;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}
.content .content__container .content__slider .splide__arrow {
  background-color: rgb(211, 205, 205);
  width: 50px;
}
.content .content__container .content__slider .splide__arrows svg {
  width: 100px;
  height: 50px;
}
.content .content__container .content__slider .custom-pagin button {
  background-color: #CF58DD;
}
.content .content__container .content__slider .splide__slide {
  border-radius: 25px;
}
.content .content__container .content__slider .splide__slide .img__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .content__container .content__slider .splide__slide .img__container img {
  width: 90%;
  height: 90%;
  -webkit-filter: drop-shadow(0px 0px 3px black);
          filter: drop-shadow(0px 0px 3px black);
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 25px;
}
.content .content__container .content__slider .splide__slide .img__container p {
  text-align: center;
  position: absolute;
  z-index: 200;
  margin-top: 330px;
  font-size: 30px;
  color: rgb(211, 205, 205);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  background-color: rgba(41, 37, 44, 0.5);
  border-radius: 15px;
  padding: 5px;
}
.content .content__container .top3__text {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 60px;
  color: #29252c;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-filter: drop-shadow(0px 0px 10px black);
          filter: drop-shadow(0px 0px 10px black);
  text-align: center;
  background-color: rgb(211, 205, 205);
  border-radius: 15px;
  font-weight: 600;
  padding: 10px;
  border: 5px solid #e70e0e;
}
.content .content__container .content__top3 {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .content__container .content__top3__block {
  width: 33.3%;
  height: 300px;
  margin: 1%;
  border: 5px solid #e70e0e;
  border-radius: 25px;
  background: url(img/dodge.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-filter: drop-shadow(0px 0px 10px black);
          filter: drop-shadow(0px 0px 10px black);
}
.content .content__container .content__top3__block p {
  text-align: center;
  position: absolute;
  z-index: 200;
  margin-top: 240px;
  font-size: 25px;
  color: rgb(211, 205, 205);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  background-color: rgba(41, 37, 44, 0.5);
  border-radius: 15px;
  padding: 5px;
}
.content .content__container #block2 {
  background: url(img/hyundai2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content .content__container #block3 {
  background: url(img/kia.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  width: 100%;
  height: 85px;
  background: #29252c;
  border-top: 4px solid #e70e0e;
}
.footer .footer__container {
  max-width: 1100px;
  height: 85px;
  margin: 0 auto;
}
.footer .footer__container .footer__main {
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer__container .footer__main h2 {
  text-align: center;
  color: rgb(211, 205, 205);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
}